{% extends 'base.html' %}

{% block title %}
    <title>Добавление</title>
{% endblock title %}


{% block content %}
    <h1 style="color: #06869a" >Добавление новой информации о человеке</h1>
    <div class="container">
        <div class="col-lg-4 col-lg-offset-8">
            <div>
                <form style="color: #06869a" action="" method="post">{% csrf_token %}
                    <div>{{ insert_form.as_p }}</div>
                    <div>{{ education_form.as_p }}</div>
                    <div>
                        <form action="" method="post">{% csrf_token %}
                            <label>ВУЗ: </label>
                            {{ university_form.university_name }}
                            <label>Кафедра: </label>
                            {{ chair_form.chair_name }}
                            <label>Учёная степень: </label>
                            {{ phd_form.phd_name }}
                            <label>Учёное звание: </label>
                            {{ academy_rank_form.academy_rank_name }}
                            <label>Форма обучения: </label>
                            {{ course_type_form.course_type_name }}
                            <label>Форма реализации: </label>
                            {{ realisation_form_form.realization_form_name}}
                            <input type="submit" value="Confirm and add" class="btn1 btn btn-primary"/>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}