{% extends 'base.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock title %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-3" style="padding-top: 5%">

        <div class="grid-container">
            <form action="../educ">
                <div style="grid-area:button1">
                    <button type="submit" class="btn8 btn btn-primary" style="grid-area:button1; border-radius: 30px;
font-size: 40px">Добавление <br> нового студента
                    </button>
                </div>
            </form>
            <form action="../search">
                <div style="grid-area:button2">
                    <button type="submit" class="btn9 btn btn-primary" style="grid-area:button2; border-radius: 30px;
font-size: 40px">Поиск по базе
                    </button>
                </div>
            </form>
            <form action="../upd">
                <div style="grid-area:button3">
                    <button type="submit" class="btn7 btn btn-primary" style="grid-area:button3; border-radius: 30px;
font-size: 40px">Обновить <br> информацию в базе
                    </button>
                </div>
            </form>
            <form action="../del">
                <div style="grid-area:button4">
                    <button type="submit" class="btn1 btn btn-primary" style="grid-area:button4; border-radius: 30px;
font-size: 40px">Удаление из базы
                    </button>
                </div>
            </form>
            <form action="../del">
                <div style="grid-area:button5">
                    <button type="submit" class="btn1 btn btn-primary" style="grid-area:button4; border-radius: 30px;
font-size: 40px">Изменение словарей
                    </button>
                </div>
            </form>
            <form action="../del">
                <div style="grid-area:button6">
                    <button type="submit" class="btn1 btn btn-primary" style="grid-area:button4; border-radius: 30px;
font-size: 40px">Добавление <br> обучения
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
