{% extends 'base.html' %}

{% block title %}
    <title>Searching</title>
{% endblock title %}

{% block content %}
    <h1 style="color: #06869a" >Searching information in database</h1>
    <div class="container">
        <div class="col-lg-4 col-lg-offset-8">
            <div>
                <form style="color: #06869a" action="" method="post">{% csrf_token %}

                    <div>
                        <form action="" method="post">{% csrf_token %}

                            <input type="submit" value="Confirm and add" class="btn1 btn btn-primary"/>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}