.btn2{
    position: absolute;
    left: 30px;
    top: 50px;
}


.btn1{
    display: inline;
    position: relative;
    top: 30px;
}

.btn3{
    display: inline;
    position: relative;
    top: 30px;
}

.btn4{
    display: inline;
    position: relative;
    top: 30px;
}

.btn5{
    position: relative;
    left: 30px;
    top: 100px;
}

