

{% load static %}
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="grid-container-navbar">
        {% if user.is_authenticated and user.username == 'Admin' %}
            <a class="navbar-brand" href="/main"
               style="grid-area: column1; text-align: left; color: azure; border-radius: 15px; width: 200px">
                <img src="{% static "images/home.png" %}" style="width: 30px; height: 30px; margin-right: 10px"
                     align="left"> На
                главную
            </a>
        {% else %}
            <a class="navbar-brand" href="/main_user"
               style="grid-area: column1; text-align: left; color: azure; border-radius: 15px; width: 200px">
                <img src="{% static "images/home.png" %}" style="width: 30px; height: 30px; margin-right: 10px"
                     align="left" alt=""> На
                главную
            </a>
        {% endif %}

        <ul style="grid-area: column2;" id="navbar">
            <li id="Help" style="grid-area: column3"><a>Справка</a>
                <ul>
                    <li>
                        <a style="text-align: justify; width: 500%;padding: 10% 10% 10% 10%;">
                            {% if page_id == 1 or page_id == 1.1 %}
                                Это главная страница базы. Для начала работы в ней выберите один из методов.
                                <br>Если Вам необходимо добавить нового человека - нажмите кнопку "
                                <u><b>Добавление нового
                                    человека</b></u>".
                                <br>Если Вам необходимо найти уже добавленного в базу человека - нажмите кнопку "
                                <u><b>Поиск
                                    по базе</b></u>".
                                <br>Если Вам необходимо обновить информацию по уже добавленному в базу человеку -
                                нажмите кнопку "<u><b>Обновить информацию в базе</b></u>"
                                <br>Если Вам необходимо добавить обучение к <b>уже добавленному в базу человеку</b> -
                                нажмите кнопку "<u><b>Добавление обучения</b></u>"
                                {% if page_id == 1 %}
                                    <br>Если Вам необходимо удалить информацию о человеке из базы - нажмите кнопку
                                    "<u><b>Удаление из базы</b></u>". Функция доступна тольку пользователям с уровнем
                                    "Администратор базы"
                                    <br>Если Вам необходимо изменить наполнение одного из выпадающих списков - нажмите
                                    кнопку "<u><b>Изменение словарей</b></u>". Функция доступна тольку пользователям с
                                    уровнем "Администратор базы"
                                {% endif %}
                            {% elif page_id == 2 %}
                                Вы находитесь на странице поиска. Для того, чтобы найти нужного человека, начните
                                вводить его данные (фамилию, имя или отчество). Для того, чтобы посмотреть данные по
                                человеку, после ввода данных нажмите кнопку "<u><b>Поиск</b></u>". Для того, чтобы
                                посмотреть всех обучавшихся на одном курсе с выбранным человеком, нажмите кнопку
                                <u><b>"Показать всех"</b></u>
                            {% elif page_id == 3 %}
                                Вы находитесь на странице добавления нового человека. Для того, чтобы успешно добавить
                                человека в базу, Вам необходимо заполнить все поля формы, а также выбрать нужные позиции
                                из выпадающего списка. Если человек на данный момент уволен, поставьте "галочку" в
                                ячейку напротив соответствующей надписи. После заполнения всей формы, нажмите кнопку
                                "<u><b>Подтвердить и добавить</b></u>"
                            {% elif page_id == 4 %}
                                Вы находитесь на странице изменения информации о существующем в базе человеке. Для того,
                                чтобы изменить информацию, заполните поля формы(фамилия, имя, отчество). Далее нажмите
                                кнопку "<u><b>Поиск</b></u>". Перед Вами появится таблица результатов поиска и откроются
                                поля формы для изменения информации. Из появившейся таблицы выберите необходимого Вам
                                человека и введите в поле "ID изменяемого человека" его ID (самая правая колонка в
                                таблице). Далее заполните все поля открывшейся формы новыми данными. После этого нажмите
                                кнопку "<u><b>Подтвердить и изменить</b></u>"
                            {% elif page_id == 5 %}
                                Вы находитесь на странице удаления информации о существующем в базе человеке. Для того,
                                чтобы удалить информацию, заполните поля формы (фамилия, имя, отчество). Далее нажмите
                                кнопку "<u><b>Поиск</b></u>". Перед Вами появится таблица результатов поиска и откроются
                                поля формы для изменения информации. Из появившейся таблицы выберите необходимого Вам
                                человека и введите в поле "ID удаляемого человека" его ID (самая правая колонка в
                                таблице). После этого нажмите кнопку "<u><b>Подтвердить</b></u>". Произойдёт
                                <u><b>безвозвратное удаление человека и связанных с ним данных по обучению из
                                    базы.</b></u>
                            {% elif page_id == 6 %}
                                Вы находитесь на странице изменения содержимого выпадающих списков. Для того, чтобы
                                изменить выпадающий список, выберите, <u><b>какой именно список</b></u> Вы будете
                                изменять. Затем в
                                <u><b>правой колонке</b></u> выберите из выпадающего списка значение, которое Вы будете
                                изменять. В
                                левой колонке в поле "<u><b>обновлённое значение</b></u>" введите обновлённое значение.
                                Если Вы хотите
                                добавить <u><b>новое</b></u> значение в конец списка, поставьте "<u><b>галочку</b></u>"
                                в поле "<u><b>Добавить значение</b></u>".
                                После всего нажмите кнопку "<u><b>Подтвердить и изменить</b></u>"
                            {% elif page_id == 7 %}
                                Вы находитесь на странице добавления обучения существующему человеку. Вам сразу
                                выводится таблица всех имеющихся в базе людей. Выберите нужного Вам и введите его
                                <u><b>ID</b></u> в
                                поле "<u><b>ID нужного человека</b></u>". Далее заполните все поля формы ввода обучения.
                                После этого
                                нажмите кнопку "<u><b>Подтвердить</b></u>".
                            {% else %}
                                Раздел находится в разработке
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        {% if user.is_authenticated %}
            <div style="text-align: right ; right: auto; grid-area: column7; font-size: 14px; line-height: 1.7">
                Вы вошли как: <b>{{ user.get_username }}</b>
                {% if group == 1 %}
                    <br>Ваш уровень допуска: <b>Администратор базы</b>
                {% else %}
                    <br>Ваш уровень допуска: <b>Пользователь базы</b>
                {% endif %}
            </div>
            <div style="grid-area: column9"><a style="color: aliceblue"
                                               href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></div>
        {% else %}
            <div style="grid-area: column9"><a style="color: aliceblue"
                                               href="{% url 'login' %}?next={{ request.path }}">Войти</a></div>
        {% endif %}

    </div>
</nav>