{% load static %}
<!DOCTYPE html>
<html lang="en">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body style="background-color: #232222">

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 class="title">Страница авторизации</h1>
            <div>
                <form style="color: #06869a" action="" method="post">{% csrf_token %}
                    <div>
                        <label>Логин: </label>
                        {{ form.login }}
                    </div>
                    <div>
                        <label>Пароль: </label>
                        {{ form.password }}
                    </div>
                    <div>
                        <button type="submit" class="btn11 btn btn-primary">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>