{% extends 'base.html' %}

{% block title %}
    <title>Обучение</title>
{% endblock title %}

{% block content %}
    <h1 style="color: #06869a">Добавление обучения существующему человеку</h1>
    <div class="container">
        <div class="col-lg-1 col-lg-offset-0">
            <div>
                <form style="color: #06869a" action="" method="post">{% csrf_token %}
                    <div class="grid-container-search">
                        <div style="grid-area: column1">
                            <form action="" method="post" style="padding-top: 10%; width: 100px">{% csrf_token %}
                                <div style="padding-left:10px;padding-right: 50px;padding-bottom: 40px">
                                    <!-- сюда вставить формы обучения -->
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Информация из университета: </label>
                                        {{ education_form.university_text }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Название курса: </label>
                                        {{ education_form.course_name }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Дата начала курса: </label>
                                        {{ education_form.course_start }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Дата окончания курса: </label>
                                        {{ education_form.course_end }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Дополнительная информация: </label>
                                        {{ education_form.info }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>ВУЗ: </label>
                                        {{ university_form.university_name }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Форма обучения: </label>
                                        {{ course_type_form.course_type_name }}
                                    </div>
                                    <div style="display: flex; justify-content: space-between;padding-top: 10px">
                                        <label>Форма реализации: </label>
                                        {{ realisation_form_form.realization_form_name }}
                                    </div>
                                </div>
                                <div style="padding-left: 10px">
                                    <label>ID нужного человека: </label>
                                    {{ id_form.id }}
                                    <input type="submit" value="Подтвердить" class="btn30 btn btn-primary"/>
                                </div>
                                <div style="height: 50px; padding-top: 10px"></div>
                            </form>
                        </div>
                        <div style="grid-area: column2">
                            <div>
                                <table class="result">
                                    <tr>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Кафедра</th>
                                        <th>Должность</th>
                                        <th>Учёная степень</th>
                                        <th>Учёное звание</th>
                                        <th>Диплом</th>
                                        <th>Окончание контракта</th>
                                        <th>Год выпуска</th>
                                        <th>Статус</th>
                                        <th>ID</th>
                                    </tr>

                                    {% for x in results %}
                                        <tr>
                                            {% for y in x %}
                                                <td>
                                                    {% if y == 0 %}
                                                        уволен
                                                    {% elif y == 1 %}
                                                        не уволен
                                                    {% else %}
                                                        {{ y }}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
